*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{

    list-style: none;
}

body{
    padding: 64px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    border-bottom: 2px solid red;
    padding-bottom: 54px;
}



header img{
    height: 48px;
}
header input{
    height: 48px;
    flex-grow: 1;
    border: red 2px solid;
    padding: 0 12px;
    outline: none;
    border-radius: 4px;
}

.button{
    display: none;
    height: 48px;
    min-width: 100px;
    background-color: red;
    color: white;
    padding: 0 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button.show{

}

.cardContato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    box-shadow: 2px 2px 8px #0003;
    border-radius: 8px;
    border-bottom: 32px solid red;
    gap: 8px;
}

.cardContato img{
    height: 160px;
    border-radius: 50%;
    border: 4px solid red;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 32px;
    align-items: center;
}

.container{
    display: none;
    flex-wrap: wrap;
    gap: 18px;
}

main.card-show .container{
    display: flex;
}

form{
    display: flex;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
}

main.form-show form{
    display: flex;
}

.preview{
    width: 300px;
    height: 300px;
    border: 4px solid rgb(255, 0, 0);
    border-radius: 50%;
    overflow: hidden;
}

.preview-input{
    display: none;
}

.preview-label{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
}

.preview-image{
    height: 100%;
    width: 100%;
}

.input-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input{
    display: flex;
    flex-direction: column;
}

.button-container{
    width: 100%;
    background-color: tomato;
    display: flex;
    
}

.input-text{
    height: 32px;
    border: 1px solid red;
    border-radius: 2px;
    outline: none;
    padding-left: 16px;
}

.input-text:focus{
    outline: black;
}